<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.ArrangeCourseMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.entity.ArrangeCourse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="is_exam" jdbcType="INTEGER" property="isExam" />
    <result column="method" jdbcType="INTEGER" property="method" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="node" jdbcType="INTEGER" property="node" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
  </resultMap>

  <resultMap id="CouIncDeMaCl" type="com.hbnu.gradesign.entity.dto.ArrangeCourseDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="is_exam" jdbcType="INTEGER" property="isExam" />
    <result column="method" jdbcType="INTEGER" property="method" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="node" jdbcType="INTEGER" property="node" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="cla" jdbcType="VARCHAR" property="cla" />
  </resultMap>

  <insert id="addCourseArrange" parameterType="com.hbnu.gradesign.entity.dto.ArrangeCourseDto">
    INSERT INTO arrange_course
        ( course_id, teacher_id, address, start_date, end_date, is_exam, method, week, node, department_id, major_id, cla_id )
    VALUES
        (
        #{courseId,jdbcType=INTEGER}, #{teacherId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{startDate,jdbcType=DATE}, #{endDate,jdbcType=DATE}, #{isExam,jdbcType=INTEGER},
        #{method,jdbcType=INTEGER}, #{week,jdbcType=INTEGER}, #{node,jdbcType=INTEGER},
        #{departmentId,jdbcType=INTEGER}, #{majorId,jdbcType=INTEGER}, #{claId,jdbcType=INTEGER}
        )
  </insert>
  <delete id="deleteCourseArrange" parameterType="java.lang.Integer">
    DELETE
    FROM
      arrange_course
    WHERE
      id IN
      <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id,jdbcType=INTEGER}
      </foreach>
  </delete>
  <update id="updateArrangeCourse" parameterType="com.hbnu.gradesign.entity.dto.ArrangeCourseDto">
    UPDATE arrange_course
    SET
        course_id = #{courseId,jdbcType=INTEGER},
        teacher_id = #{teacherId,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        start_date = #{startDate,jdbcType=DATE},
        end_date = #{endDate,jdbcType=DATE},
        is_exam = #{isExam,jdbcType=INTEGER},
        method = #{method,jdbcType=INTEGER},
        week = #{week,jdbcType=INTEGER},
        node = #{node,jdbcType=INTEGER},
        department_id = #{departmentId,jdbcType=INTEGER},
        major_id = #{majorId,jdbcType=INTEGER},
        cla_id = #{claId,jdbcType=INTEGER}
    WHERE
        id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getArrangeCourses" parameterType="com.hbnu.gradesign.entity.ArrangeCourse" resultMap="CouIncDeMaCl">
    SELECT
        t1.id,
        t2.course,
        t1.course_id,
        t3.NAME AS teacher,
        t1.teacher_id,
        t1.address,
        t1.start_date,
        t1.end_date,
        t1.is_exam,
        t1.method,
        t1.week,
        t1.node,
        t4.department,
        t1.department_id,
        t5.major,
        t1.major_id,
        t6.cla,
        t1.cla_id
    FROM
        arrange_course t1
        LEFT JOIN course t2 ON ( t1.course_id = t2.id )
        LEFT JOIN teacher t3 ON ( t1.teacher_id = t3.id )
        LEFT JOIN department t4 ON ( t1.department_id = t4.id )
        LEFT JOIN major t5 ON ( t1.major_id = t5.id )
        LEFT JOIN cla t6 ON ( t1.cla_id = t6.id )
    <where>
      <if test="courseId != null and courseId != ''">
        t1.course_id = #{courseId}
      </if>
      <if test="departmentId != null and departmentId != ''">
        AND t1.department_id = #{departmentId}
      </if>
      <if test="majorId != null and majorId != ''">
        AND t1.major_id = #{majorId}
      </if>
      <if test="claId != null and claId != ''">
        AND t1.cla_id = #{claId}
      </if>
    </where>
  </select>
  <select id="getArrangeCoursesByTea" parameterType="java.lang.String" resultMap="CouIncDeMaCl">
      SELECT
      t1.*,
      t2.course,
      t3.department,
      t4.major,
      t5.cla
      FROM
      arrange_course t1
      LEFT JOIN course t2 ON ( t1.course_id = t2.id )
      LEFT JOIN department t3 ON ( t1.department_id = t3.id )
      LEFT JOIN major t4 ON ( t1.major_id = t4.id )
      LEFT JOIN cla t5 ON ( t1.cla_id = t5.id )
      WHERE
      t1.teacher_id = #{teacherId,jdbcType=VARCHAR}
      <if test="courseId != null and courseId != ''">
          AND t1.course_id = #{courseId}
      </if>
      <if test="departmentId != null and departmentId != ''">
          AND t1.department_id = #{departmentId}
      </if>
      <if test="majorId != null and majorId != ''">
          AND t1.major_id = #{majorId}
      </if>
      <if test="claId != null and claId != ''">
          AND t1.cla_id = #{claId}
      </if>
  </select>
  <select id="getArrangeCoursesByStu" parameterType="com.hbnu.gradesign.entity.dto.ArrangeCourseDto" resultMap="CouIncDeMaCl">
      SELECT
      t1.*,
      t3.course,
      t4.department,
      t5.major,
      t6.cla,
      t7.NAME teacher
      FROM
      arrange_course t1
      LEFT JOIN student t2 ON ( t1.cla_id = t2.cla_id )
      LEFT JOIN course t3 ON ( t1.course_id = t3.id )
      LEFT JOIN department t4 ON ( t1.department_id = t4.id )
      LEFT JOIN major t5 ON ( t1.major_id = t5.id )
      LEFT JOIN cla t6 ON ( t1.cla_id = t6.id )
      LEFT JOIN teacher t7 ON ( t1.teacher_id = t7.id )
      WHERE
      t2.id = #{studentId,jdbcType=VARCHAR}
      <if test="courseId != null and courseId != ''">
          AND t1.course_id = #{courseId}
      </if>
    </select>
</mapper>