<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.ClaMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.domain.Cla">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cla" jdbcType="VARCHAR" property="cla" />
  </resultMap>
  <select id="getClaById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        id,
        cla
    FROM
        cla
    WHERE
        id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getClas" resultMap="BaseResultMap">
    SELECT
        id,
        cla
    FROM
        cla
  </select>
</mapper>