<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.ExamMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.entity.Exam">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>

  <resultMap id="ExamIncCouTea" type="com.hbnu.gradesign.entity.dto.ExamDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>

  <insert id="addExam" parameterType="com.hbnu.gradesign.entity.dto.ExamDto">
    INSERT INTO exam ( exam_name, info, total, course_id, address, start_time, end_time, teacher_id, create_date )
    VALUES
    (
        #{examName,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR},#{total,jdbcType=INTEGER},
        #{courseId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP},
        #{endTime,jdbcType=TIMESTAMP}, #{teacherId,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}
    )
  </insert>
  <delete id="deleteExam" parameterType="java.lang.Integer">
    DELETE
    FROM
        exam
    WHERE
      id IN
      <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id,jdbcType=INTEGER}
      </foreach>
  </delete>
  <update id="updateExam" parameterType="com.hbnu.gradesign.entity.dto.ExamDto">
    UPDATE exam
    SET
        exam_name = #{examName,jdbcType=VARCHAR},
        info = #{info,jdbcType=VARCHAR},
        total = #{total,jdbcType=INTEGER},
        course_id = #{courseId,jdbcType=INTEGER},
        address = #{address,jdbcType=VARCHAR},
        start_time = #{startTime,jdbcType=TIMESTAMP},
        end_time = #{endTime,jdbcType=TIMESTAMP},
        teacher_id = #{teacherId,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=DATE}
    WHERE
        id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getExams" parameterType="com.hbnu.gradesign.entity.dto.ExamDto" resultMap="ExamIncCouTea">
    SELECT
        t1.id,
        t1.exam_name,
        t1.info,
        t1.total,
        t2.course,
        t1.course_id,
        t1.address,
        t1.start_time,
        t1.end_time,
        t3.NAME AS teacher,
        t1.teacher_id,
        t1.create_date
    FROM
        exam t1
        LEFT JOIN course t2 ON ( t1.course_id = t2.id )
        LEFT JOIN teacher t3 ON ( t1.teacher_id = t3.id )
    <where>
      <if test="examName != null and examName != ''">
        <bind name="pattern" value="examName + '%'" ></bind>
        t1.exam_name LIKE #{pattern}
      </if>
      <if test="courseId != null and courseId != ''">
        t1.course_id = #{courseId}
      </if>
      <if test="teacherId != null and teacherId != ''">
        t1.teacher_id = #{teacherId}
      </if>
    </where>
  </select>
</mapper>