<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.ExamClaMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.entity.ExamCla">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
  </resultMap>

  <resultMap id="ExamClaIncDepMaCla" type="com.hbnu.gradesign.entity.dto.ExamClaDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="exam" jdbcType="VARCHAR" property="exam" />
    <result column="exam_id" jdbcType="INTEGER" property="examId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla" jdbcType="VARCHAR" property="cla" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
  </resultMap>

  <delete id="deleteExamCla" parameterType="java.lang.Integer">
    DELETE
    FROM
        exam_cla
    WHERE
        id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="addExamCla" parameterType="com.hbnu.gradesign.entity.ExamCla">
    INSERT INTO exam_cla
        ( exam_id, department_id, major_id, cla_id )
    VALUES
        (
        #{examId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER},
        #{majorId,jdbcType=INTEGER}, #{claId,jdbcType=INTEGER}
        )
  </insert>
  <select id="getExamClas" parameterType="java.lang.Integer" resultMap="ExamClaIncDepMaCla">
    SELECT
        t1.id,
        t2.exam_name AS exam,
        t1.exam_id,
        t3.department,
        t1.department_id,
        t4.major,
        t1.major_id,
        t5.cla,
        t1.cla_id
    FROM
        exam_cla t1
        LEFT JOIN exam t2 ON ( t1.exam_id = t2.id )
        LEFT JOIN department t3 ON ( t1.department_id = t3.id )
        LEFT JOIN major t4 ON ( t1.major_id = t4.id )
        LEFT JOIN cla t5 ON ( t1.cla_id = t5.id )
    WHERE
        t1.exam_id = #{examId,jdbcType=INTEGER}
  </select>
</mapper>