<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.domain.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>

  <resultMap id="FirSecMenu" type="com.hbnu.gradesign.domain.dto.MenuDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <collection property="secMenu" ofType="SecMenu">
      <id column="sec_id" jdbcType="INTEGER" property="secId" />
      <result column="sec_menu" jdbcType="VARCHAR" property="secMenu" />
      <result column="sec_url" jdbcType="VARCHAR" property="secUrl" />
      <result column="sec_level" jdbcType="INTEGER" property="secLevel" />
    </collection>
  </resultMap>

  <select id="getMenu" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        menu
    WHERE
        id = #{id};
  </select>

  <select id="getMenus" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        menu
  </select>

  <select id="getMenuByRoleId" parameterType="java.lang.Integer" resultMap="FirSecMenu">
    SELECT
        t1.id,
        t1.menu_name,
        t1.url,
        t1.level,
        t1.img,
        t1.parent_id,
        t1.role_id,
        t2.id AS sec_id,
        t2.menu_name AS sec_menu,
        t2.url AS sec_url,
        t2.LEVEL AS sec_level
    FROM
        menu t1
        LEFT JOIN menu t2 ON ( t1.id = t2.parent_id AND t2.role_id = #{roleId} )
    WHERE
        t1.level = 1 and t1.role_id = #{roleId}
    ORDER BY
	    t1.id,t2.id;
  </select>

  <select id="getCurMenuById" parameterType="java.lang.Integer" resultMap="FirSecMenu">
    SELECT
        t1.id,
        t1.menu_name,
        t1.url,
        t1.LEVEL,
        t1.img,
        t1.parent_id,
        t1.role_id,
        t2.id AS sec_id,
        t2.menu_name AS sec_menu,
        t2.url AS sec_url,
        t2.LEVEL AS sec_level
    FROM
        menu t1
        LEFT JOIN menu t2 ON ( t1.id = t2.parent_id AND t1.role_id = t2.role_id )
    WHERE
        ( t1.id = #{id} OR t2.id = #{sec_id} )
        AND ( t1.LEVEL = 1 OR t2.LEVEL = 2 )
        AND ( LENGTH( trim( t1.url ) ) >= 1 OR LENGTH( trim( t2.url ) ) >= 1 );
  </select>

  <insert id="addMenu" parameterType="com.hbnu.gradesign.domain.dto.MenuDto" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO menu ( menu_name, url, level, img, parent_id, role_id )
    VALUES
        ( #{menuName},#{url},#{level},#{img},#{parentId},#{roleId} );
  </insert>

  <delete id="delMenu" parameterType="java.lang.Integer">
    DELETE
    FROM
        menu
    WHERE
        id IN
    <foreach collection="ids" item="id" open="(" separator="," close=")">
        #{id,jdbcType=INTEGER}
    </foreach>
  </delete>

  <update id="editMenu" parameterType="com.hbnu.gradesign.domain.dto.MenuDto" useGeneratedKeys="true" keyProperty="id">
    UPDATE menu
    SET menu_name = #{menuName},
        url = #{url},
        level = #{level},
        img = #{img},
        parent_id = #{parentId},
        role_id = #{roleId}
    WHERE
        id= #{id}
  </update>
</mapper>