<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbnu.gradesign.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.hbnu.gradesign.entity.Student">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <resultMap id="StuIncDeMaCl" type="com.hbnu.gradesign.entity.dto.StudentDto">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="major_id" jdbcType="INTEGER" property="majorId" />
    <result column="cla_id" jdbcType="INTEGER" property="claId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="cla" jdbcType="VARCHAR" property="cla" />
  </resultMap>
  <delete id="deleteStudent" parameterType="java.lang.String">
    DELETE
    FROM
        student
    WHERE
        id = #{id,jdbcType=VARCHAR}
  </delete>
    <!-- str_to_date(#{student.dateStr,jdbcType=VARCHAR}, '%Y-%m-%d'), -->
  <insert id="addStudent" parameterType="com.hbnu.gradesign.entity.excel.StudentExcel">
    INSERT INTO student ( id, name, gender, phone, email, year, create_date, status, department_id, major_id, cla_id, user_id )
    VALUES
        (
        #{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
        #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER},
        #{createDate,jdbcType=DATE},#{status,jdbcType=INTEGER},#{departmentId,jdbcType=INTEGER},
        #{majorId,jdbcType=INTEGER},#{claId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
        )
  </insert>
  <update id="updateStudent" parameterType="com.hbnu.gradesign.entity.Student">
    UPDATE student
    SET
        name = #{name,jdbcType=VARCHAR},
        gender = #{gender,jdbcType=INTEGER},
        phone = #{phone,jdbcType=VARCHAR},
        email = #{email,jdbcType=VARCHAR},
        year = #{year,jdbcType=INTEGER},
        create_date = #{createDate,jdbcType=DATE},
        status = #{status,jdbcType=INTEGER},
        department_id = #{departmentId,jdbcType=INTEGER},
        major_id = #{majorId,jdbcType=INTEGER},
        cla_id = #{claId,jdbcType=INTEGER},
        user_id = #{userId,jdbcType=INTEGER}
    WHERE
        id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getStudentsAdm" parameterType="com.hbnu.gradesign.entity.dto.StudentDto" resultMap="StuIncDeMaCl">
    SELECT
        t1.*,
        t2.department,
        t3.major,
        t4.cla
    FROM
        student t1
        LEFT JOIN department t2 ON ( t1.department_id = t2.id )
        LEFT JOIN major t3 ON ( t1.major_id = t3.id )
        LEFT JOIN cla t4 ON ( t1.cla_id = t4.id )
    <where>
        <if test="id != null and id != ''">
          t1.id = #{id}
        </if>
        <if test="name != null and name != ''">
          <bind name="pattern" value="name + '%'" ></bind>
          AND t1.name LIKE #{pattern}
        </if>
        <if test="dateStr != null and dateStr != ''">
          AND DATE_FORMAT(t1.create_date,'%Y-%m-%d') = #{dateStr}
        </if>
        <if test="status == 0 || status == 1">
          AND t1.status = #{status}
        </if>
        <if test="departmentId != null and departmentId != ''">
          AND t1.department_id = #{departmentId}
        </if>
        <if test="majorId != null and majorId != ''">
          AND t1.major_id = #{majorId}
        </if>
        <if test="claId != null and claId != ''">
          AND t1.cla_id = #{claId}
        </if>
    </where>
  </select>
  <select id="getStudentsTea" parameterType="java.lang.String" resultMap="StuIncDeMaCl">
--       SELECT
--       t1.id,
--       t1.NAME,
--       t1.gender,
--       t1.phone,
--       t1.email,
--       t1.department_id,
--       t1.major_id,
--       t1.cla_id,
--       t2.department,
--       t3.major,
--       t4.cla
--       FROM
--       student t1
--       LEFT JOIN department t2 ON ( t1.department_id = t2.id )
--       LEFT JOIN major t3 ON ( t1.major_id = t3.id )
--       LEFT JOIN cla t4 ON ( t1.cla_id = t4.id )
--       WHERE
--       t1.cla_id IN ( SELECT DISTINCT cla_id FROM arrange_course WHERE teacher_id = #{teacherId,jdbcType=VARCHAR} )
      SELECT DISTINCT
      t1.id,
      t1.NAME,
      t1.gender,
      t1.phone,
      t1.email,
      t1.department_id,
      t1.major_id,
      t1.cla_id,
      t2.department,
      t3.major,
      t4.cla
      FROM
      student t1
      LEFT JOIN department t2 ON ( t1.department_id = t2.id )
      LEFT JOIN major t3 ON ( t1.major_id = t3.id )
      LEFT JOIN cla t4 ON ( t1.cla_id = t4.id )
      LEFT JOIN arrange_course t5 ON ( t5.cla_id = t1.cla_id )
      WHERE
      teacher_id = "${teacherId}"
  </select>
  <select id="getStudentsToGradeAdm" parameterType="com.hbnu.gradesign.entity.dto.StudentDto" resultMap="StuIncDeMaCl">
      SELECT
          t1.id,
          t1.NAME,
          t2.department,
          t1.department_id,
          t3.major,
          t1.major_id,
          t4.cla,
          t1.cla_id
      FROM
          student t1
          LEFT JOIN department t2 ON ( t1.department_id = t2.id )
          LEFT JOIN major t3 ON ( t1.major_id = t3.id )
          LEFT JOIN cla t4 ON ( t1.cla_id = t4.id )
      <where>
          <if test="id != null and id != ''">
              t1.id = #{id}
          </if>
          <if test="name != null and name != ''">
              <bind name="pattern" value="name + '%'" ></bind>
              AND t1.name LIKE #{pattern}
          </if>
          <if test="departmentId != null and departmentId != ''">
              AND t1.department_id = #{departmentId}
          </if>
          <if test="majorId != null and majorId != ''">
              AND t1.major_id = #{majorId}
          </if>
          <if test="claId != null and claId != ''">
              AND t1.cla_id = #{claId}
          </if>
      </where>
  </select>
  <select id="getStuCountGroupByYear" resultType="java.lang.Integer">
    SELECT
        count( id ) count
    FROM
        student
    GROUP BY
        YEAR ( create_date )
  </select>
  <select id="getStuYear" resultType="java.lang.Integer">
    SELECT
        YEAR ( create_date ) year
    FROM
        student
    GROUP BY
        YEAR ( create_date )
  </select>

  <select id="getStudentCount" resultType="java.lang.Integer">
    SELECT
        count( * ) count
    FROM
        student
  </select>
  <select id="getStudentByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        *
    FROM
        student
    WHERE
        user_id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>