<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/css/common/common.css" />
		<link rel="stylesheet" href="/css/font/font.css">
	</head>

	<body>
		<div class="page-nav">
			<span class="layui-breadcrumb">
                <a href="">首页</a>
             </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:5px;float:right" href="javascript:window.location.reload();" title="刷新"><i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="page-body">
			<div class="layui-row">
				<form class="layui-form" style="float: left;">
					<div class="layui-inline course">
						<select name="level" lay-search="" lay-filter="course" id="searchCourse">
							<option value="">课程</option>
						</select>
					</div>
					<div class="layui-inline department">
						<select name="department" lay-search="" lay-filter="department" id="searchDepartment">
							<option value="">院系</option>
						</select>
					</div>
					<div class="layui-inline major">
						<select name="major" lay-search="" lay-filter="major" id="searchMajor">
							<option value="">专业</option>
						</select>
					</div>
					<div class="layui-inline cla">
						<select name="cla" lay-search="" lay-filter="cla" id="searchCla">
							<option value="">班级</option>
						</select>
					</div>
				</form>
				<button class="layui-btn" lay-submit="" lay-filter="searchBtn" style="float: left;margin-left: 10px">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</div>
			<table class="layui-table" id="arrCouListTea" lay-filter="arrCouTea">
			</table>
		</div>

		<!-- layui -->
		<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
		<!-- 首字母模糊查询 -->
		<script type="text/javascript" src="/lib/pingyin/pinyin.js" charset="utf-8"></script>
		<script type="text/javascript" src="/lib/pingyin/initials.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/common/common.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/course/arrCouTea.js" charset="utf-8"></script>

		<script type="text/html" id="methodTpl">
			{{#  if(d.method == 0){ }}
			每周
			{{#  } else if(d.method == 1) { }}
			单周
			{{#  } else if(d.method == 2) { }}
			双周
			{{#  } }}
		</script>

		<script type="text/html" id="nodeTpl">
			{{#  if(d.node == 1){ }}
			1~2节
			{{#  } else if(d.node == 3) { }}
			3~4节
			{{#  } else if(d.node == 5) { }}
			5~6节
			{{#  } else if(d.node == 7) { }}
			7~8节
			{{#  } else if(d.node == 9) { }}
			9~10节
			{{#  } }}
		</script>

		<script type="text/html" id="weekTpl">
			{{#  if(d.week == 1){ }}
			星期一
			{{#  } else if(d.week == 2) { }}
			星期二
			{{#  } else if(d.week == 3) { }}
			星期三
			{{#  } else if(d.week == 4) { }}
			星期四
			{{#  } else if(d.week == 5) { }}
			星期五
			{{#  } else if(d.week == 6) { }}
			星期六
			{{#  } else if(d.week == 0) { }}
			星期天
			{{#  } }}
		</script>

	</body>
</html>