<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/css/common/common.css" />
		<link rel="stylesheet" href="/css/font/font.css">
		<link rel="stylesheet" href="/css/course/arrCouAdm.css">
	</head>

	<body>
		<!-- 添加弹出层 -->
		<div style="display: none" disabled="true" id="addFrame">
			<form class="layui-form" action="" lay-filter="" id="addForm">
				<div class="layui-form-item">
					<label class="layui-form-label">课程</label>
					<div class="layui-input-inline">
						<select class="selectCourse" name="courseId" lay-search="" lay-verify="required" id="addCourse">
							<option value="">课程</option>
						</select>
					</div>
					<label class="layui-form-label">教师</label>
					<div class="layui-input-inline">
						<select class="selectTeacher" name="teacherId" lay-search="" lay-verify="required" id="addTeacher">
							<option value="">教师</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">地址</label>
					<div class="layui-input-inline addMenuLevel">
						<input type="text" name="address" autocomplete="off" lay-verify="required" placeholder="请输入地址" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">时间范围</label>
					<div class="layui-input-inline">
						<input class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入时间范围" name="dateScope" id="addDateScope">
					</div>
					<label class="layui-form-label">考试科目</label>
					<div class="layui-input-inline">
						<select name="isExam" lay-verify="required">
							<option value="">是否是考试科目</option>
							<option value="0">是</option>
							<option value="1">否</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">上课方式</label>
					<div class="layui-input-inline">
						<select name="method" lay-verify="required">
							<option value="">上课方式</option>
							<option value="0">每周</option>
							<option value="1">单周</option>
							<option value="2">双周</option>
						</select>
					</div>
					<label class="layui-form-label">上课时间</label>
					<div class="layui-input-inline">
						<select name="week" lay-verify="required">
							<option value="">上课时间</option>
							<option value="0">星期天</option>
							<option value="1">星期一</option>
							<option value="2">星期二</option>
							<option value="3">星期三</option>
							<option value="4">星期四</option>
							<option value="5">星期五</option>
							<option value="6">星期六</option>
						</select>
					</div>
					<label class="layui-form-label">具体时间</label>
					<div class="layui-input-inline">
						<select name="node" lay-verify="required">
							<option value="">具体时间</option>
							<option value="1">1~2节</option>
							<option value="3">3~4节</option>
							<option value="5">5~6节</option>
							<option value="7">7~8节</option>
							<option value="9">9~10节</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">院系</label>
					<div class="layui-input-inline addDep">
						<select name="departmentId" lay-verify="required" lay-search="" lay-filter="department" id="addDepartment">
							<option value="">院系</option>
						</select>
					</div>
					<label class="layui-form-label">专业</label>
					<div class="layui-input-inline addMa">
						<select name="majorId" lay-verify="required" lay-search="" lay-filter="major" id="addMajor">
							<option value="">专业</option>
						</select>
					</div>
					<label class="layui-form-label">班级</label>
					<div class="layui-input-inline addCla">
						<select name="claId" lay-verify="required" lay-search="" id="addCla">
							<option value="">班级</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="addArrCou">立即提交</button>
					</div>
				</div>



			</form>
		</div>
		<!-- 编辑弹出层 -->
		<div style="display: none" disabled="true" id="editFrame">
			<form class="layui-form" action="" lay-filter="arrCouFilter" id="editForm">
				<!-- 隐藏域存储 -->
				<input type="hidden" name="id" id="saveTeaId" />

				<div class="layui-form-item">
					<label class="layui-form-label">课程</label>
					<div class="layui-input-inline">
						<select class="selectCourse" name="courseId" lay-search="" lay-verify="required" id="editCourse">
							<option value="">课程</option>
						</select>
					</div>
					<label class="layui-form-label">教师</label>
					<div class="layui-input-inline">
						<select class="selectTeacher" name="teacherId" lay-search="" lay-verify="required" id="editTeacher">
							<option value="">教师</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">地址</label>
					<div class="layui-input-inline addMenuLevel">
						<input type="text" name="address" autocomplete="off" lay-verify="required" placeholder="请输入地址" class="layui-input">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">时间范围</label>
					<div class="layui-input-inline">
						<input class="layui-input" autocomplete="off" lay-verify="required" placeholder="请输入时间范围" name="dateScope" id="editDateScope">
					</div>
					<label class="layui-form-label">考试科目</label>
					<div class="layui-input-inline">
						<select name="isExam" lay-verify="required">
							<option value="">是否是考试科目</option>
							<option value="0">是</option>
							<option value="1">否</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">上课方式</label>
					<div class="layui-input-inline">
						<select name="method" lay-verify="required">
							<option value="">上课方式</option>
							<option value="0">每周</option>
							<option value="1">单周</option>
							<option value="2">双周</option>
						</select>
					</div>
					<label class="layui-form-label">上课时间</label>
					<div class="layui-input-inline">
						<select name="week" lay-verify="required">
							<option value="">上课时间</option>
							<option value="0">星期天</option>
							<option value="1">星期一</option>
							<option value="2">星期二</option>
							<option value="3">星期三</option>
							<option value="4">星期四</option>
							<option value="5">星期五</option>
							<option value="6">星期六</option>
						</select>
					</div>
					<label class="layui-form-label">具体时间</label>
					<div class="layui-input-inline">
						<select name="node" lay-verify="required">
							<option value="">具体时间</option>
							<option value="1">1~2节</option>
							<option value="3">3~4节</option>
							<option value="5">5~6节</option>
							<option value="7">7~8节</option>
							<option value="9">9~10节</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">院系</label>
					<div class="layui-input-inline addDep">
						<select name="departmentId" lay-verify="required" lay-search="" lay-filter="department" id="editDepartment">
							<option value="">院系</option>
						</select>
					</div>
					<label class="layui-form-label">专业</label>
					<div class="layui-input-inline addMa">
						<select name="majorId" lay-verify="required" lay-search="" lay-filter="major" id="editMajor">
							<option value="">专业</option>
						</select>
					</div>
					<label class="layui-form-label">班级</label>
					<div class="layui-input-inline addCla">
						<select name="claId" lay-verify="required" lay-search="" id="editCla">
							<option value="">班级</option>
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit="" lay-filter="editArrCou">立即提交</button>
					</div>
				</div>
			</form>
		</div>

		<div class="page-nav">
			<span class="layui-breadcrumb">
                <a href="">首页</a>
             </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:5px;float:right" href="javascript:window.location.reload();" title="刷新"><i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="page-body">
			<div class="layui-row">
				<form class="layui-form" style="float: left;">
					<div class="layui-inline course">
						<select name="level" lay-search="" lay-filter="course" id="searchCourse">
							<option value="">课程</option>
						</select>
					</div>
					<div class="layui-inline department">
						<select name="department" lay-search="" lay-filter="department" id="searchDepartment">
							<option value="">院系</option>
						</select>
					</div>
					<div class="layui-inline major">
						<select name="major" lay-search="" lay-filter="major" id="searchMajor">
							<option value="">专业</option>
						</select>
					</div>
					<div class="layui-inline cla">
						<select name="cla" lay-search="" lay-filter="cla" id="searchCla">
							<option value="">班级</option>
						</select>
					</div>
				</form>
				<button class="layui-btn" lay-submit="" lay-filter="searchBtn" style="float: left;margin-left: 10px">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</div>
			<table class="layui-table" id="arrCouListAdm" lay-filter="arrCouAdm">
			</table>
		</div>

		<!-- layui -->
		<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
		<!-- 首字母模糊查询 -->
		<script type="text/javascript" src="/lib/pingyin/pinyin.js" charset="utf-8"></script>
		<script type="text/javascript" src="/lib/pingyin/initials.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/common/common.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/course/arrCouAdm.js" charset="utf-8"></script>

		<script type="text/html" id="methodTpl">
			{{#  if(d.method == 0){ }}
			每周
			{{#  } else if(d.method == 1) { }}
			单周
			{{#  } else if(d.method == 2) { }}
			双周
			{{#  } }}
		</script>

		<script type="text/html" id="nodeTpl">
			{{#  if(d.node == 1){ }}
			1~2节
			{{#  } else if(d.node == 3) { }}
			3~4节
			{{#  } else if(d.node == 5) { }}
			5~6节
			{{#  } else if(d.node == 7) { }}
			7~8节
			{{#  } else if(d.node == 9) { }}
			9~10节
			{{#  } }}
		</script>

		<script type="text/html" id="weekTpl">
			{{#  if(d.week == 1){ }}
			星期一
			{{#  } else if(d.week == 2) { }}
			星期二
			{{#  } else if(d.week == 3) { }}
			星期三
			{{#  } else if(d.week == 4) { }}
			星期四
			{{#  } else if(d.week == 5) { }}
			星期五
			{{#  } else if(d.week == 6) { }}
			星期六
			{{#  } else if(d.week == 0) { }}
			星期天
			{{#  } }}
		</script>

		<script type="text/html" id="barCouMange">
			<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		</script>

		<script type="text/html" id="toolbar">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
				<button class="layui-btn layui-btn-sm" lay-event="delMult">批量删除</button>
			</div>
		</script>

	</body>
</html>