<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="/css/common/common.css" />
		<link rel="stylesheet" href="/css/font/font.css">
<!--		<link rel="stylesheet" href="/css/exam/exam.css">-->
	</head>

	<body>




		<div class="page-nav">
			<span class="layui-breadcrumb">
				<a href="">首页</a>
			</span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:5px;float:right" href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="page-body" style="width: auto">
			<div class="layui-row">
				<form class="layui-form" style="float: left;">
					<div class="layui-inline">
						<input type="text" name="examName" placeholder="考试名称" autocomplete="off" class="layui-input" id="searchExamName">
					</div>
					<div class="layui-inline course">
						<select name="level" lay-search="" lay-filter="course" id="searchCourse">
							<option value="">课程</option>
						</select>
					</div>
					<div class="layui-inline teacher">
						<select name="teacher" lay-search="" lay-filter="teacher" id="searchTeacher">
							<option value="">教师</option>
						</select>
					</div>
				</form>
				<button class="layui-btn" lay-submit="" lay-filter="searchBtn" style="float: left;margin-left: 10px">
					<i class="layui-icon">&#xe615;</i>
				</button>
			</div>
			<table class="layui-table" id="endExamListAdm" lay-filter="endExam">
			</table>
		</div>

		<!-- layui -->
		<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
		<!-- 首字母模糊查询 -->
		<script type="text/javascript" src="/lib/pingyin/pinyin.js" charset="utf-8"></script>
		<script type="text/javascript" src="/lib/pingyin/initials.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/common/common.js" charset="utf-8"></script>

		<script type="text/javascript" src="/js/grade/gradeAdm.js" charset="utf-8"></script>



		<script type="text/html" id="barExamMange">
			<a class="layui-btn layui-btn-sm" lay-event="claManage">成绩管理</a>
		</script>




	</body>

</html>