::-webkit-scrollbar{
    display:none;
}

.showPiece {
    height: 100px;
    margin-top: 40px;
    margin-left: 40px;
}

.showCountPiece {
    height: 60px;
    width: 175px;
    float: left;
    border-radius:2px;
    background-color: #009688;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    margin-left: 55px;
    box-shadow:4px 4px 5px rgba(41, 0, 0, 0.26);
}

.iconfont img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

#container {
    width: 1000px;
    height: 650px
}