::-webkit-scrollbar{
    display:none;
}

.layui-elem-field {
    margin-top: 40px;
    margin-left: 40px;
    width: 900px;
}

.layui-field-box {
    padding: 15px 15px;
    height: 70px;
}



.showCountPiece {
    height: 60px;
    width: 175px;
    float: left;
    border-radius:2px;
    background-color: #009688;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    margin-left: 40px;
    box-shadow:4px 4px 5px rgba(41, 0, 0, 0.26);
}

.iconfont img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

#histogram {
    width: 1600px;
    height: 580px
}

#container {
    width: 1000px;
    height: 550px
}

