@charset "utf-8";
@import "../../lib/layui/css/layui.css";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  width: 100%;
  min-height: 100%;
}

/*.fr {
  float: right;
}
.font16 {
  font-size: 16px;
}*/


/**treeselect*/
/*.layui-form-select .layui-tree {
  display: none;
  position: absolute;
  left: 0;
  top: 42px;
  padding: 5px 0;
  z-index: 999;
  min-width: 100%;
  border: 1px solid #d2d2d2;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
}
.layui-form-selected .layui-tree {
  display: block;
}*/

/*.weadmin-trailer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  color: #ccc;
}*/

.weadmin-body {
  padding: 20px;
}
.weadmin-nav {
  padding: 0 20px;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #e5e5e5;
  line-height: 39px;
  height: 39px;
  overflow: hidden;
}
.weadmin-block {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  line-height: 22px;
  border-radius: 0 2px 2px 0;
  background-color: #f2f2f2;
}
.we-search {
  margin-bottom: 20px;
  font-size: 16px;
}
.we-search input.layui-input {
  width: 190px;
}
.we-red {
  color: red;
}


/*.page {
  margin-top: 20px;
  text-align: center;
}
.page a {
  display: inline-block;
  background: #fff 0 0 no-repeat;
  color: #888;
  padding: 10px;
  min-width: 15px;
  border: 1px solid #E2E2E2;
}
.page span {
  display: inline-block;
  padding: 10px;
  min-width: 15px;
  border: 1px solid #E2E2E2;
}
.page span.current {
  display: inline-block;
  background: #009688 0 0 no-repeat;
  color: #fff;
  padding: 10px;
  min-width: 15px;
  border: 1px solid #009688;
}
.page .pagination li {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}
.page .pagination li.active span {
  background: #009688 0 0 no-repeat;
  color: #fff;
  border: 1px solid #009688;
}*/






/*.left-nav #nav .current {
  background-color: rgba(0, 0, 0, 0.3);
}*/

/*.x-slide_left {
  width: 17px;
  height: 61px;
  background: url(../images/icon.png) 0 0 no-repeat;
  position: absolute;
  top: 200px;
  left: 221px;
  cursor: pointer;
  z-index: 3;
}*/




/*.welcome-footer {
  padding: 30px 0;
  line-height: 30px;
  text-align: center;
  background-color: #eee;
  color: #666;
  font-weight: 300;
}*/


body .layui-layout-admin .footer-demo {
  height: auto;
  padding: 15px 0;
  line-height: 26px;
}
.welcome-footer a {
  padding: 0 5px;
}
table th,
table td {
  word-break: break-all;
}




.we-changelog .layui-timeline-title h3 {
  display: inline-block;
}
.we-changelog .layui-timeline-title .layui-badge-rim {
  top: -2px;
  left: 10px;
}
.weadmin-shortcut {
  height: 185px!important;
  background-color: #fff;
}
.weadmin-shortcut .layui-carousel,
.weadmin-shortcut > [carousel-item] > * {
  background-color: #fff;
}
.weadmin-shortcut .layui-col-space10 {
  margin: 0;
}
.weadmin-shortcut li {
  text-align: center;
}
.weadmin-shortcut li a {
  display: block;
}
.weadmin-shortcut li .layui-icon {
  display: inline-block;
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-radius: 2px;
  font-size: 30px;
  background-color: #F8F8F8;
  color: #333;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.weadmin-shortcut li:hover .layui-icon {
  background-color: #f2f2f2;
}
.weadmin-shortcut li cite {
  position: relative;
  top: 2px;
  display: block;
  color: #333333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
}
.weadmin-shortcut li p {
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  margin-top: 5px;
}
.weadmin-shortcut li p span {
  text-align: left;
  display: inline-block;
}
.weadmin-shortcut .layui-carousel-ind {
  position: absolute;
  top: -41px;
  text-align: right;
}
.weadmin-shortcut .layui-carousel-ind ul {
  background: 0 0;
}
.weadmin-shortcut .layui-carousel-ind ul li {
  background-color: #e2e2e2;
}
.weadmin-shortcut .layui-carousel-ind ul li:hover {
  background-color: #c2c2c2;
}
.weadmin-shortcut .layui-carousel-ind ul li.layui-this {
  background-color: #999;
}
.weadmin-text p {
  margin-bottom: 10px;
  text-indent: 2em;
}
.layui-card-header.layui-elem-quote {
  line-height: 22px;
  height: 22px;
  padding: 15px;
}
.weadmin-notice {
  height: 60px!important;
}
.weadmin-notice a {
  display: block;
  text-align: center;
  line-height: 60px;
}
.weadmin-notice .layui-carousel-ind {
  position: absolute;
  top: -56px;
  text-align: right;
}
.weadmin-notice .layui-carousel-ind ul {
  background: 0 0;
}
.weadmin-notice .layui-carousel-ind ul li {
  background-color: #e2e2e2;
}
.weadmin-notice .layui-carousel-ind ul li:hover {
  background-color: #c2c2c2;
}
.weadmin-notice .layui-carousel-ind ul li.layui-this {
  background-color: #999;
}


/*# sourceMappingURL=weadmin.css.map */