<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>后台管理-WeAdmin Frame型后台管理系统-WeAdmin 1.0</title>
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/font.css">
		<link rel="stylesheet" href="/css/common.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>

	<body>
		<!--
        	作者：fyc
        	时间：2018-12-14
        	描述：顶部
        -->
		<div class="container">
			<div class="logo">
				<a href="index.html">
					<img src="/images/logo.png" />
					Fynce
				</a>
			</div>
			<div class="left_open">
				<i title="展开左侧栏" class="iconfont">&#xe699;</i>
			</div>
			<div class="layui-nav left fast-add" lay-filter="">
				<ul>
					<li class="layui-nav-item">
						<a href="javascript:;">新增</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a onclick="WeAdminShow('资讯','https://www.youfa365.com/')"><i class="iconfont">&#xe6a2;</i>资讯</a>
							</dd>
							<dd>
								<a onclick="WeAdminShow('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a>
							</dd>
							<dd>
								<a onclick="WeAdminShow('用户','https://www.youfa365.com/')"><i class="iconfont">&#xe6b8;</i>用户</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>

			<div class="layui-form component" lay-filter="LAY-site-header-component">
				<div class="layui-inline">
					<div class="layui-input-inline">
						<select name="modules" lay-verify="required" lay-search="" lay-filter="component">
							<option value="">搜索菜单</option>
						</select>
					</div>
				</div>
			</div>

			<div class="layui-nav right" lay-filter="">
				<ul>
					<li class="layui-nav-item">
						<a id="username" href="javascript:;"></a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a onclick="WeAdminShow('个人信息','http://www.baidu.com')">个人信息</a>
							</dd>
							<dd>
								<a class="loginout">退出</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item to-index">
						<a href="/">前台首页</a>
					</li>
				</ul>
			</div>
		</div>

		<!--
        	作者：fyc
        	时间：2018-12-14
        	描述：左侧导航栏
        -->
		<div class="left-nav">
			<div id="side-nav">
				<ul id="nav">
				</ul>
			</div>
		</div>

		<!--
        	作者：fyc
        	时间：2018-12-14
        	描述：主体
        -->
		<div class="page-content">
			<div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
				<!--标签栏-->
				<ul class="layui-tab-title" id="tabName">
					<li>我的桌面</li>
				</ul>

				<!-- 隐藏域存值 -->
				<input id="menuId" type="hidden" />

				<!--iframe-->
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<iframe src='./pages/welcome.html' frameborder="0" scrolling="yes" class="weIframe"></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="page-content-bg"></div>

		<!--
        	作者：fyc
        	时间：2018-12-14
        	描述：底部
        -->
		<div class="footer">
			<div class="copyright">Copyright ©2018-2019 Fynce GraDesign</div>
		</div>

		<!--
	    	作者：fyc
	    	时间：2018-12-14
	    	描述：选项卡右键菜单
    	-->
		<div>
			<ul class="rightMenu" id="rightMenu">
				<li data-type="fresh">刷新</li>
				<li data-type="current">关闭当前</li>
				<li data-type="other">关闭其它</li>
				<li data-type="all">关闭所有</li>
			</ul>
		</div>

	</body>


	<!-- layui -->
	<script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
	<!-- 首字母模糊查询 -->
	<script type="text/javascript" src="/lib/pingyin/pinyin.js" charset="utf-8"></script>
	<script type="text/javascript" src="/lib/pingyin/initials.js" charset="utf-8"></script>
	<!-- 封装Ajax -->
	<script type="text/javascript" src="/js/common/myAjax.js" charset="utf-8"></script>

	<script type="text/javascript" src="/js/index/index.js" charset="utf-8"></script>


</html>